.filter {
    display: flex;
    justify-content: center;
    align-items: center;

    .searchbar {
        width: 100%;
        height: 69px;
        font-size: 1.1rem;
        padding-left: 1rem;
        background-color: $lightgrey;
        border: none;
        position: relative;
        &::after {
            content: url(../assets/images/search.png);
            width: 2rem;
            height: 2rem;
            position: absolute;
            background: url(./assets/images/search.png);
        }
    }
}
