.recipe-card-container {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
    grid-column-gap: 5%;
    .card {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 3rem;

        &-top {
            height: 180px;
            width: 100%;
            background-color: $grey;
        }
        &-bottom {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10%;
            background-color: $lightgrey;
            padding: 1rem;
            border-radius: 0 0 10px 10px;
            height: 190px;
        }
        &-bottom-left {
            h2 {
                font-size: 1.1rem;
                margin: 0 0 1rem 0;
            }
            ul {
                padding: 0;
                margin: 0;
            }

            li {
                list-style-type: none;
                font-size: 0.8rem;
            }
            p {
                font-size: 0.75rem;
                span {
                    font-weight: 400;
                }
            }
        }

        &-bottom-right {
           width: 100%;

            p {
                max-height: 170px;
                text-overflow: ellipsis;
                white-space: pre-wrap;
                overflow: hidden;
                font-size: 0.8rem;
            }
        }
    }
}
